@media only screen and (max-width: 1205px) {
    body {
        width: 100vw;
        font-size: 13px;
    }
    .hero, .services, .team, .contact, .testimonials {
        width: 100vw;
        padding: 3em;
    }
    .services-layout {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: clamp(20px, 3vw, 50px);
        padding: 10%;
    }
    .service-card {
      
        margin-bottom: 3em;
    }
   
    .contact {
        width: clamp(500px, 100vw, 1100px);
        height: clamp(fit-content, 80vh, 3000px);
    }
    .contact-layout {
        grid-auto-flow: row;
    }
    .contact-info {
        grid-column: 1;
        grid-row: 3;
    }
    .contact-map {
        min-height: 500px;
        grid-column: 1;
        grid-row: 2;
    }
}

@media only screen and (max-width: 800px) {
    body {
        width: 100vw;
        font-size: 11px;
    }
    .header-layout {
        padding: 0 1em;
    }
    .hero, .services, .team, .contact, .testimonials {
        width: 100vw;
        padding: 3em 0;
    }
    .services-layout {
        grid-template-columns: 1fr;
       
        overflow: visible;
    }
    .team {
        height: unset;
    }
    .team-layout {
        grid-auto-flow: row;
    }
}